<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Course</h1>
        <form method="POST">
            <label>Title:</label>
            <input name="title" type="text" id="title" value="{{bookData.title}}">

            <label>Type:</label>
            <input name="type" type="text" id="type" value="{{bookData.type}}">

            <label>Certificate:</label>
            <input name="certificate" type="text" id="certificate" value="{{bookData.certificate}}">

            <label>Image:</label>
            <input name="image" type="text" id="image" placeholder="http://..." value="{{bookData.image}}">

            <label>Description:</label>
            <textarea id="content" name="description">{{bookData.description}}</textarea>

            <label>Price:</label>
            <input name="price" type="number" id="price" value="{{bookData.price}}">

            <input type="submit" id="btn" value="Edit">
        </form>
    </div>
</section>